.membership-active {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 2 12 2 12;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.membership-expired {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
    -fx-padding: 2 12 2 12;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

